body {
    background: #444da3;
}

a, h1, p {
    color: #fff;
}

#links a:first-child {
    border-bottom: 0.5px solid white;
}

#links a, .socials a {
    transition: all 200ms ease;
    display: inline-block;
}

#links a:hover, .socials a:hover {
    opacity: 80%;
    transform: translate(0, -2px);
}

.socials p:nth-child(1) {
    font-weight: 600;
}

.socials a:nth-child(2) {
    color: #c9510c;
}

.socials a:nth-child(3) {
    color: #2a85af;
}

.socials a:nth-child(4) {
    color: #dd2a7b;
}

.socials a:nth-child(5) {
    color: #1db954;
}

@media only screen and (min-width: 400px) {
    main {
        margin: 20% 5% 20% 5%;
    }

    h1 {
        font-size: 2.3em;
        font-style: italic;
        color: #a9d6e5;
    }

    .paragraph {
        line-height: 1.7em;
    }

    .socials {
        margin: 5% 0;
    }

    .socials a {
        margin-right: 10px;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 992px) {
    body {
        overflow: hidden;
    }
    
    main {
        margin: 11% 20% 20% 20%;
    }

    h1 {
        font-size: 2.3em;
        font-style: italic;
        color: #a9d6e5;
    }

    .paragraph {
        line-height: 1.7em;
        font-size: 1.3em;
    }

    .socials {
        margin: 5% 0;
        font-size: 1.3em;
    }

    .socials a {
        margin-right: 10px;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1em;
    }
}
