body {
    background: #000;
}

a, h1, p {
    color: #fff;
}

main {
    margin: 3% 0 5% 0;
}

#links a:nth-child(3) {
    border-bottom: 0.5px solid white;
}

#links a, .socials a {
    transition: all 200ms ease;
    display: inline-block;
}

#links a:hover, .socials a:hover {
    opacity: 80%;
    transform: translate(0, -2px);
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
  }
  
  /* Create four equal cols that sits next to each other */
  .col {
    flex: 23%;
    max-width: 23%;
    padding: 0 8px;
  }
  
  .col img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two col-layout instead of four cols */
  @media screen and (max-width: 800px) {
    .col {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two cols stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
  }