body {
    background: #61a5c2;
}

a, h1, h2 {
    color: #fff;
}

p {
    color: #000;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#links a:nth-child(2) {
    border-bottom: 0.5px solid white;
}

.project-card {
    background-color: #fff;
    margin: 0 auto;
    height: auto;
    padding: 25px 25px 20px 25px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 200ms ease;
}

.language {
    background: rgb(197, 197, 197);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 4px 14px 4px 14px;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 10% 5% 20% 5%;
    }

    #title {
        font-size: 1.6em;
        font-style: italic;
        color: #c6f1ff;
    }

    .project-card-container {
        margin-top: 40px;
    }

    .project-card.spotifyvisualizer {
        z-index: 5;
    }

    .project-card.weatheroutfitter {
        top: -5px;
        z-index: 4;
    }

    .project-card.personalweb {
        top: -10px;
        z-index: 3;
    }

    .project-card.startupweb {
        top: -15px; 
        z-index: 2;
    }

    .project-card:hover {
        z-index: 10;
        transform: scale(1.01);
        cursor: pointer;
    }

    .project-card a {
        color: black;
        font-size: 1em;
    }

    .project-card p {
        font-size: 0.8em;
    }

    .language {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 601px) {
    main {
        margin: 2% 15% 5% 15%;
    }

    #title {
        font-size: 2.3em;
        font-style: italic;
        color: #c6f1ff;
    }

    .project-card-container {
        margin-top: 40px;
    }

    .project-card.spotifyvisualizer {
        z-index: 5;
    }
    
    .project-card.weatheroutfitter {
        z-index: 4;
        top: -5px;
    }

    .project-card.personalweb {
        top: -10px;
        z-index: 3;
    }

    .project-card.startupweb {
        top: -15px; 
        z-index: 2;
    }

    .project-card:hover {
        z-index: 10;
        transform: scale(1.01);
        cursor: pointer;
    }

    .project-card a {
        color: black;
        font-size: 1.2em;
    }

    .project-card p {
        font-size: 1em;
    }

    .language {
        font-size: 0.9em;
    }
}